[core]
        editor = vim
        filemode = true
[alias]
        ci = commit -s
[color]
        diff = auto
[user]
        name = Peng Tao
        email = bergwolf@gmail.com
[sendemail]
        chainreplyto = true
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = bergwolf@gmail.com
	smtpserverport = 587
[http]
	postBuffer = 524288000
[apply]
	whitespace=fix
